body {
    font-size: 16px;
    color: black;
    font-family: "Comic Sans MS", "Comic Sans";
}

.navbar-default {
    background-color: grey;
    border-radius: 0;
    border: 3px solid black;
    min-height: 60px;
}

.navbar-default .navbar-brand {
    position: absolute;
    left: 30px;
    padding-top: 10px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-toggle[aria-expanded="true"]{    
    border: 2px solid white;
}
.navbar-toggle[aria-expanded="false"]{    
    border: 2px solid black;
}
.navbar-default .navbar-toggle[aria-expanded="false"] .icon-bar{
    background-color: black;
}
.navbar-default .navbar-toggle[aria-expanded="true"] .icon-bar{
    background-color: white;
}

.navbar-brand h1 {
    font-size: 1.8em;
    color: black;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.menu {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-nav {
    margin: 0px -15px;
}

#nav-list { 
    background-color: white;
    padding: 0;
}
#nav-list a {
    color: black;
    text-align: center;
}
#nav-list a:hover {
    background: grey;
}
#nav-list a:active {
    background: grey;
}
#nav-list a {
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-list-divider {
    align-self: center;
    height: 2px;
    width: 100%;
    background-color: black;
    border: 0;
    margin: auto
}

#menu-tiles {
    margin-left: 15px;
    margin-right: 15px;
}


#chicken-tile, #beef-tile, #sushi-tile {
    background-color: grey;
    padding-top: 2px;
}

.tile-header {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.tile-content {
    text-align: left;
    padding: 15px;
    display: inline-block;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-4 {
        width: 32.5%;
        margin-left: 0.2%;
        margin-right: 0.2%;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-6 {
        width: 49.4%;
        margin-left: 0.2%;
        margin-right: 0.2%;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) { 
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
    }
    .col-xs-12 {
        width: 99.6%;
        margin-left: 0.2%;
        margin-right: 0.2%;
        margin-bottom: 30px;
    }
}
